<div class="mx-auto pt-8">
    <h1>About</h1>
    <p class="mt-4">This is the about page for the sample app built using the <a href="https://www.phoenixframework.org">Phoenix
            framework</a></p>
</div>